io/plugins/eu.esdihumboldt.hale.io.gml/resources/test/data/deegree-wfs/workspace/appschemas/testfeature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:tf="http://example.com/testfeature"
        xmlns:gml="http://www.opengis.net/gml/3.2"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        targetNamespace="http://example.com/testfeature"
        elementFormDefault="qualified">

  <import namespace="http://www.opengis.net/gml/3.2"
          schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>

  <element name="Basin" type="tf:BasinType" substitutionGroup="gml:AbstractFeature"/>
  <complexType name="BasinType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="string"/>
          <element name="river" type="tf:RiverPropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <element name="River" type="tf:RiverType" substitutionGroup="gml:AbstractFeature"/>
  <complexType name="RiverType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="name" type="string"/>
          <element name="code" type="string"/>
          <element name="width" type="double"/>
          <element name="basin" type="tf:BasinPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

  <!-- Reference-only property type for Basin features (no inline allowed) -->
  <complexType name="BasinPropertyType">
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>

  <!-- Reference-only property type for River features (no inline allowed) -->
  <complexType name="RiverPropertyType">
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>

</schema>
